node_modules/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
logs/
*.sw?
.env.local
.env.development.local
.env.test.local
.env.production.local
build/
dist/
coverage/
todolist/
sonar-project.properties
.scannerwork/

# TypeScript相關檔案
*.tsbuildinfo
*.d.ts.map